body {
  font-family: 'Lato', sans-serif;
  background: #b91450;
  background: linear-gradient(180deg, #b91450 0%, #b91491 50%, #b91450 100%);
}

section h1 {
  margin-top: 1rem;
}

#generate {
  background-color: #b91450;
}

#generate:focus-visible {
  background-color: #a90440;
  box-shadow: 0 0 0 0.25rem #e94480;
}

label {
  margin-bottom: 0.5rem;
}

input,
select {
  background-color: #ffffff;
  border: 1px solid #b91450;
  border-radius: 16px;
  padding-left: 20px;
  height: 1.875rem;
}

label,
#ticket_preview h3,
#ticket_preview .card h6:first-of-type {
  color: #b91450;
}

label,
#ticket_preview .card h6 {
  font-weight: 700;
}


#user_data .card,
#ticket_preview .card {
  box-shadow: 0 0 10px 2px #444444;
  margin: 1rem 0;
}

#ticket_preview .card .col {
  padding: 1rem;
}

#ticket_preview .card .col:not(:last-of-type) {
  border-bottom: 3px solid #ffffff;
}

#ticket_preview .row {
  background: #55efc4;
  background: linear-gradient(180deg, #55efc4 0%, #ffeaa7 100%);
  border-radius: 16px;
}

h6[id^="ticket_preview_"] {
  padding: 2rem 0 0;
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  body {
    background: #b91450;
    background: linear-gradient(90deg, #b91450 0%, #b91491 50%, #b91450 100%);
}

  #ticket_preview .row {
    background: #55efc4;
    background: linear-gradient(90deg, #55efc4 0%, #ffeaa7 100%);
  }

  #ticket_preview .card .col:not(:last-of-type) {
    border-bottom: 0;
    border-right: 3px solid #ffffff;
  }
}